<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
<meta charset="utf-8"/>
<title>Home Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>


<body>

<div class="flex">
		
		<h1 class="p-2 bg-info text-light"><img class="logo" th:src="@{/img/abc.png}" src=""> Request Tracking</h1>
	</div>
	
<div class="container-fluid">
	<div class="row">
				
	</div>
	<div class="row">
		<div class="col-md-12 text-left">
			<a th:href="@{'/Changepwd/' + ${user.uid}}">Change Password</a>
		</div>
		<div class="col-md-12 text-left">
			<a th:href="@{'/Dept/'+ ${user.uid}}">Add Department</a>
		</div>
		<div class="col-md-12 text-left">
			<a th:href="@{'/CreateRequest'}">Create a Request</a>
		</div>
		<div class="col-md-12 text-left">
			<a th:href="@{'/requesthome'}">View All Request</a>
		</div>
		
	</div>
</div>



</body>
</html>