<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/Request.css}" />
    <script src="https://kit.fontawesome.com/4ed2628243.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <div class="flex">
		
		<h1 class="p-2 bg-info text-light"><img class="logo" th:src="@{/img/abc.png}" src=""> Request Tracking</h1>
	</div>
    <div class="container-fluid main">
        <h1 class="text-center bg-light mb-3">Request Management Home</h1>
        <div class="row">
            <div class="col-md-9 d-flex flex-row-reverse ">
            </div>
            <div class="col-md-3 mb-3">
                <input type="search" class="form-control" name="" id="search" placeholder="Search..">
            </div>
        </div>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Request Number</th>
                <th scope="col">Request Title</th>
                <th scope="col">Status</th>
                <th scope="col">Assigned_to</th>
                <th scope="col">Last_Updated_Date</th>
                <th scope="col">Request Age</th>
                
              </tr>
            </thead>
            <tbody>
              <tr th:each="request : ${allRequests}">
                <td th:text = "${request.requestNumber}"></td>
                <td><a th:text = "${request.requestTitle}" th:href="@{'/CreateRequest'}"></a></td>
                <td>Pending(Static)</td>
                <td th:text = "${request.assignedTo}">Mark</td>
                <td>Yet to be Done</td>
                <td>Yet to be Done</td>
                
              </tr>
             
             
    
            </tbody>
          </table>
    </div>
</body>
</html>